[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
apache-airflow = "==2.8.3"
pylint = "*"
pytest = "==8.2.0"
moto = "==5.0.3"
requests-mock = "==1.11.0"
boto3 = "==1.33.13"


# required in circleci context.
numpy = "==1.24.4"
pandas = "==2.2.1"

[packages]

[requires]
python_version = "3.11"
